@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color:  #181818;
    color: #F6F6F6;
}

.title_highlight{
    color: #22D4FD;
}

.introduction {
    margin: 10% 15%;
    display: flex;
    align-items:  center;
    justify-content: space-between;
}

.introduction_content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.introduction_content_title{
    font-family:  'Krona One', sans-serif;
    font-size: 36px;
}

.introduction_content_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.introduction_button{
    display: flex;
    justify-content: space-between;
}

.button{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    background-color: #22D4FD;
    width: 280px;
    border-radius: 16px;
    padding: 21.5px 0;
}